$primaryFontFamily: Montserrat, sans-serif;
$secondaryFontFamily: 'Seymour One', sans-serif;
/* background colors */
$backgroundColorBody: #84a178;
$productsColorFirst: #aec6a5;
$productsColorSecond: #efd478;
$productsColorThird: #d6936d;
$backgroundColorModal: #fcfcfc;
/* text colors */
$primaryTextColor: #fcfcfc;
$secondaryTextColor: #131313;
$accentColorText: #f8d24e;
$focusColorText: #d6936d;
$copyrightTextColor: #7a7a7a;
/* button-colors */
$bgColorButton: #f8d24e;
$bgHoverButton: #0a8817;
$bgDisabledButton: #ababab;
/* icon-colors*/
$fillDefaultIcon: #84a178;
$fillHoverIcon: #fcfcfc;
/* animation */
$transitionDuration: 800ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);