<section class="section contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="list contacts__list-card" id="contacts">
      <li class="contacts__item-card">
        <div class="contacts-card">
          <p class="contacts-card__category"><span>CAFE</span></p>
          <address class="contacts-card__address">
            <p class="contacts-card__city">Chicago</p>
            <a class="link contacts-card__link" href="https://www.google.com/maps/" target="_blank">
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
          </address>
          <div class="contacts-card__working">
            <p class="contacts-card__working-days">Monday - Friday</p>
            <span class="contacts-card__working-hours">06:00 AM - 10:00 PM</span>
            <p class="contacts-card__working-days">Saturday - Sunday</p>
            <span class="contacts-card__working-hours">08:00 AM - 16:00 PM</span>
          </div>
          <div class="contacts-card__contacts-container">
            <a class="link contacts-card__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="link contacts-card__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </li>

      <li class="contacts__item-card">
        <div class="contacts-card">
          <p class="contacts-card__category"><span>FOOD TRUCK</span></p>
          <address class="contacts-card__address">
            <p class="contacts-card__city">Los Angeles</p>
            <a class="link contacts-card__link" href="https://www.google.com/maps/" target="_blank">
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
          </address>
          <div class="contacts-card__working">
            <p class="contacts-card__working-days">Monday - Friday</p>
            <span class="contacts-card__working-hours">06:00 AM - 10:00 PM</span>
            <p class="contacts-card__working-days">Saturday - Sunday</p>
            <span class="contacts-card__working-hours">08:00 AM - 16:00 PM</span>
          </div>
          <div class="contacts-card__contacts-container">
            <a class="link contacts-card__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="link contacts-card__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </li>

      <li class="contacts__item-card">
        <div class="contacts-card">
          <p class="contacts-card__category"><span>CAFE</span></p>
          <address class="contacts-card__address">
            <p class="contacts-card__city">New York</p>
            <a class="link contacts-card__link" href="https://www.google.com/maps/" target="_blank">
              726 Sterling Pl, Brooklyn, NY 11222, USA</a>
          </address>
          <div class="contacts-card__working">
            <p class="contacts-card__working-days">Monday - Friday</p>
            <span class="contacts-card__working-hours">06:00 AM - 10:00 PM</span>
            <p class="contacts-card__working-days">Saturday - Sunday</p>
            <span class="contacts-card__working-hours">08:00 AM - 16:00 PM</span>
          </div>
          <div class="contacts-card__contacts-container">
            <a class="link contacts-card__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="link contacts-card__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </div>
      </li>
    </ul>

    <div class="contacts__container-btn">
      <button class="contacts__btn-locations js-open-modal" type="button" data-modal="4">
        Our Locations
        <svg class="icon-arrow-right" width="12" height="12">
          <use href="./images/svg/sprite.svg#icon-arrow-right-bold"></use>
        </svg>
      </button>
      <button class="contacts__btn-franchise js-open-modal" type="button" data-modal="5">
        Franchise
        <svg class="icon-arrow-right" width="12" height="12">
          <use href="./images/svg/sprite.svg#icon-arrow-right-bold"></use>
        </svg>
      </button>
    </div>
  </div>
</section>