<section class="section gallery" id="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__list gallery-slick">
      <div class="gallery__item">
        <picture>
          <source srcset="
              ./images/gallery/gallery-1-desk1013.jpeg    1x,
              ./images/gallery/gallery-1-desk1013@2x.jpeg 2x
            " media="(min-width: 1200px)" />
          <source srcset="
              ./images/gallery/gallery-1-tab704.jpeg    1x,
              ./images/gallery/gallery-1-tab704@2x.jpeg 2x
            " media="(min-width: 768px)" />
          <source srcset="
              ./images/gallery/gallery-1-480-440.jpeg    1x,
              ./images/gallery/gallery-1-480-440@2x.jpeg 2x
            " media="(max-width: 767px)" />
          <img class="gallery__image" src="./images/gallery/gallery-1-480-440.jpeg" alt="ice cream picture"
            loading="lazy" />
        </picture>
      </div>

      <div class="gallery__item">
        <picture>
          <source srcset="
              ./images/gallery/gallery-2-desk1013.jpeg    1x,
              ./images/gallery/gallery-2-desk1013@2x.jpeg 2x
            " media="(min-width: 1200px)" />
          <source srcset="
              ./images/gallery/gallery-2-tab704.jpg    1x,
              ./images/gallery/gallery-2-tab704@2x.jpg 2x
            " media="(min-width: 768px)" />
          <source srcset="
              ./images/gallery/gallery-2-480-440.jpg    1x,
              ./images/gallery/gallery-2-480-440@2x.jpg 2x
            " media="(max-width:767px)" />
          <img class="gallery__image" src="./images/gallery/gallery-2-480-440.jpg" alt="ice cream picture"
            loading="lazy" />
        </picture>
      </div>

      <div class="gallery__item">
        <picture>
          <source srcset="
              ./images/gallery/gallery-3-desk1013.jpeg    1x,
              ./images/gallery/gallery-3-desk1013@2x.jpeg 2x
            " media="(min-width: 1200px)" />
          <source srcset="
              ./images/gallery/gallery-3-tab704.jpg    1x,
              ./images/gallery/gallery-3-tab704@2x.jpg 2x
            " media="(min-width: 768px)" />
          <source srcset="
              ./images/gallery/gallery-3-480-440.jpg    1x,
              ./images/gallery/gallery-3-480-440@2x.jpg 2x
            " media="(max-width:767px)" />
          <img class="gallery__image" src="./images/gallery/gallery-3-480-440.jpg" alt="ice cream picture"
            loading="lazy" />
        </picture>
      </div>
    </div>
  </div>
</section>