<section class="section hero">
  <div class="container">
    <h1 class="">ice cream made with passion</h1>
    <ul class="">
      <li class="">
        <a href="">Products</a>
      </li>
      <li class="">
        <a href="">How it&#39;s made?</a>
      </li>
    </ul>
    <div class="">
      <picture class="">
        <source
          srcset="
            ./images/hero/lots-desk225.png    1x,
            ./images/hero/lots-desk225@2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            ./images/hero/lots-tab152.png    1x,
            ./images/hero/lots-tab152@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          src="./images/hero/lots-tab152.png"
          alt="lots of ice-cream"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="">
      <p>
        Indulge in a scoop of ice cream made with passion and treat your taste
        buds to an unforgettable experience!
      </p>
      <a href="">
        <svg class="" width="40" height="16">
          <use href="./images/svg/sprite.svg#icon-arrow4"></use>
        </svg>
      </a>
    </div>
    <div class="right">
      <picture>
        <source
          srcset="
            ./images/hero/ice-cream-desk456.png    1x,
            ./images/hero/ice-cream-desk456@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero/ice-cream-tab268.png    1x,
            ./images/hero/ice-cream-tab268@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero/ice-cream-480-218.png    1x,
            ./images/hero/ice-cream-480-218@2x.png 2x
          "
        />
        <img
          src="./images/hero/ice-cream-480-218.png"
          alt="ice cream cone"
          loading="lazy"
        />
      </picture>
      <div>
        <ul>
          <li>
            <p>16</p>
            <p>cafes</p>
          </li>
          <li>
            <p>23</p>
            <p>food trucks</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
