<div class="modal modal-about-product" data-modal="2">
  <button class="modal__close-btn js-modal-close" type="button">
    <svg class="modal__cross-icon js-modal-close">
      <use href="./images/svg/sprite.svg#icon-close-modal"></use>
    </svg>
  </button>

  <h2 class="modal__title">Chololate icecream</h2>

  <div class="modal__wrap-img">
    <img class="modal__img" srcset="
        ./images/modals/modal-chocolate-icecream132.png    1x,
        ./images/modals/modal-chocolate-icecream132@2x.png 2x
      " src="./images/modals/modal-chocolate-icecream132.png" alt="chololate icecream" />
  </div>
  <h3 class="visually-hidden">Nutritional value</h3>
  <ul class="list nutritional-value__list">
    <li class="nutritional-value__item">
      <p class="nutritional-value__number">320</p>
      <p class="nutritional-value__text">kcal</p>
    </li>
    <li class="nutritional-value__item">
      <p class="nutritional-value__number">4g</p>
      <p class="nutritional-value__text">Protein...</p>
    </li>
    <li class="nutritional-value__item">
      <p class="nutritional-value__number">8,2g</p>
      <p class="nutritional-value__text">Fats</p>
    </li>
    <li class="nutritional-value__item">
      <p class="nutritional-value__number">40,4g</p>
      <p class="nutritional-value__text">Carbs</p>
    </li>
  </ul>

  <h3 class="ingredients__title">Ingredients</h3>
  <ul class="list ingredients__list">
    <li class="ingredients__item">
      <p class="ingredients__text">Milk</p>
      <p class="ingredients__text">100ml</p>
    </li>
    <li class="ingredients__item">
      <p class="ingredients__text">Belgian chocolate</p>
      <p class="ingredients__text">20g</p>
    </li>
    <li class="ingredients__item">
      <p class="ingredients__text">Cream</p>
      <p class="ingredients__text">150 ml</p>
    </li>
    <li class="ingredients__item">
      <p class="ingredients__text">Cocoa powder</p>
      <p class="ingredients__text">30g</p>
    </li>
    <li class="ingredients__item">
      <p class="ingredients__text">Sugar</p>
      <p class="ingredients__text">40g</p>
    </li>
    <li class="ingredients__item">
      <p class="ingredients__text">Vanilla sugar</p>
      <p class="ingredients__text">10g</p>
    </li>
  </ul>

  <form class="contacts-form" name="contacts-form">
    <label class="contacts-form__label" for="name2">
      <input class="contacts-form__input" id="name2" name="name" type="text" minlength="2" maxlength="30"
        placeholder="Name" pattern="[A-Za-z]{1-30}" required />
    </label>

    <label class="contacts-form__label" for="tel2">
      <input class="contacts-form__input" id="tel2" name="tel" type="tel" minlength="5" maxlength="15"
        placeholder="Phone" pattern="[0-9]{5,10}" required />
    </label>

    <label class="contacts-form__label" for="comment2">
      <textarea class="contacts-form__textarea" id="comment2" name="comment" placeholder="Comment" rows="3"></textarea>
    </label>

    <button class="modal__form-btn" type="submit">Submit</button>
  </form>
</div>

<div class="overlay js-overlay-modal"></div>