<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div>
      <div>
        <img
          class="reviews__img"
          srcset="
            ./images/reviews/emily85.jpeg    1x,
            ./images/reviews/emily85@2x.jpeg 2x
          "
          src="./images/reviews/emily85.jpeg"
          alt="Emily"
          loading="lazy"
        />
        <p>
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p>Emily, Los Angeles</p>
      </div>

      <div>
        <img
          class="reviews__img"
          srcset="
            ./images/reviews/bryan85.jpeg    1x,
            ./images/reviews/bryan85@2x.jpeg 2x
          "
          src="./images/reviews/bryan85.jpeg"
          alt="Bryan"
          loading="lazy"
        />
        <p>
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p>Bryan, New-York</p>
      </div>

      <div>
        <img
          class="reviews__img"
          srcset="
            ./images/reviews/diana85.jpeg    1x,
            ./images/reviews/diana85@2x.jpeg 2x
          "
          src="./images/reviews/diana85.jpeg"
          alt="Diana"
          loading="lazy"
        />
        <p>
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p>Diana, Chicago</p>
      </div>
    </div>
  </div>
</section>
