<section class="section reviews" id="reviews">
  <div class="container one-time">
    <h2 class="visually-hidden">Customer Reviews</h2>

    <div class="reviews__item">
      <img class="reviews__img" srcset="
          ./images/reviews/emily85.jpeg    1x,
          ./images/reviews/emily85@2x.jpeg 2x
        " src="./images/reviews/emily85.jpeg" alt="Emily" loading="lazy" />
      <p class="reviews__text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
      <p class="reviews__author">Emily, Los Angeles</p>
    </div>

    <div class="reviews__item">
      <img class="reviews__img" srcset="
          ./images/reviews/bryan85.jpeg    1x,
          ./images/reviews/bryan85@2x.jpeg 2x
        " src="./images/reviews/bryan85.jpeg" alt="Bryan" loading="lazy" />
      <p class="reviews__text">
        Every day we come to you with friends after classes in college. We love
        your ice cream and casual atmosphere!
      </p>
      <p class="reviews__author">Bryan, New-York</p>
    </div>

    <div class="reviews__item">
      <img class="reviews__img" srcset="
          ./images/reviews/diana85.jpeg    1x,
          ./images/reviews/diana85@2x.jpeg 2x
        " src="./images/reviews/diana85.jpeg" alt="Diana" loading="lazy" />
      <p class="reviews__text">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </p>
      <p class="reviews__author">Diana, Chicago</p>
    </div>

  </div>
</section>