/**
  |============================
  | Модальне вікно buy-now
  |============================
*/
.modal-buy-now {

  .modal__title {
    margin-bottom: 27px;

    @include tablet {
      margin-bottom: 47px;
    }
  }
}

//.order-form {}

.name-product__list {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 31px;

  @include tablet {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.name-product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 132px;
  height: 198px;
}

.name-product__checkbox {
  position: absolute;
  appearance: none;
}

.name-product__product {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 132px;
  height: 135px;
  padding-bottom: 18px;
  @include fonts(16px, 700, 1.25, 0.04em);
  text-align: center;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 15px;
  box-shadow: 0px 5.26px 19.73px 0px rgba(212, 20, 67, 0.1);
}

.name-product__product--icecream {
  border-color: $productsColorFirst;
}

.name-product__product--icecoffee {
  border-color: $productsColorSecond;
}

.name-product__product--milkshake {
  border-color: $productsColorThird;
}

.name-product__checkbox:checked+.name-product__product--icecream {
  background-color: $productsColorFirst;
}

.name-product__checkbox:checked+.name-product__product--icecoffee {
  background-color: $productsColorSecond;
}

.name-product__checkbox:checked+.name-product__product--milkshake {
  background-color: $productsColorThird;
}

.name-product__product::before {
  content: '';
  position: absolute;
  top: 0;
  transform: translateY(-56px);
  width: 132px;
  height: 132px;
  border-radius: 50%;
}

.name-product__product--icecream::before {
  background-color: rgba(156, 190, 143, 0.7);
  box-shadow: 0px 5.26px 19.73px 0px rgba(10, 136, 23, 0.25);
}

.name-product__product--icecoffee::before {
  background-color: rgba(248, 210, 78, 0.7);
  box-shadow: 0px 5.26px 19.73px 0px rgba(153, 114, 23, 0.25);
}

.name-product__product--milkshake::before {
  background-color: rgba(213, 117, 63, 0.7);
  box-shadow: 0px 5.26px 19.73px 0px rgba(0, 0, 0, 0.25);
}

.name-product__product::after {
  content: '';
  position: absolute;
  width: 132px;
  height: 132px;
  top: -63px;
  background-repeat: no-repeat;
  background-size: cover;

  .name-product__label:hover & {
    top: -56px;
  }
}

.name-product__product--icecream::after {
  background-image: url(../images/modals/modal-ice-cream132.png);
}

.name-product__product--icecoffee::after {
  background-image: url(../images/modals/modal-ice-coffee132.png);
}

.name-product__product--milkshake::after {
  background-image: url(../images/modals/modal-milkshekes132.png);
}