/**
  |============================
  | Посилання на соц. мережі
  |============================
*/
.socials-list {
  display: flex;
  align-items: center;
  justify-content: end;
}

.socials-list__item:not(:last-child) {
  margin-right: 30px;
}

.socials-list__link {
  @include centerFlex;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  color: $fillDefaultIcon;
  background-color: $bgColorButton;

  &:hover .socials-list__icon,
  &:focus .socials-list__icon {
    fill: $fillHoverIcon;
    @include transition(fill);
  }
}

.socials-list__icon {
  fill: $fillDefaultIcon;
}